services:
  portal:
    build: .
    container_name: portal
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/portal-ne1

  postgres:
    image: postgres:15
    container_name: postgres-banco
    restart: unless-stopped
    environment:
      POSTGRES_DB: portal-ne1
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
